.loadingParent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-height{
    height: calc(100vh - 100px);
}
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #999999;
    border-top: 5px solid #0D6EFD;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.btn{
    margin: 5px;
}